Hysteresis/
Models/
Result Plots/
Result Plots/0_val.png
Result Plots/1_val.png
Result Plots/2_val.png
Result Plots/3_val.png
Result Plots/4_val.png
Result Plots/5_val.png
Result Plots/6_val.png
Result Plots/7_val.png
